<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.ExtaDao">

	<select id="selectExtaAll" resultType="hashmap" parameterType="web.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, E.* FROM (
				SELECT 
                	x.ex_no, u.nick, u.file_no As profile, x.file_no As picture, x.ex_content,x.ex_date, f.origin_name, f.stored_name,
					(SELECT count(*) FROM tb_ex_comm WHERE c.ex_post_no = x.ex_no) As comm ,
					(SELECT count(*) FROM tb_ex_like WHERE l.ex_post_no = x.ex_no) As heart
			FROM tb_extagram x
				LEFT OUTER JOIN tb_user u ON x.user_no = u.user_no
				LEFT OUTER JOIN tb_file f ON x.file_no = f.file_no
				LEFT OUTER JOIN tb_ex_comm c ON x.ex_no = c.ex_post_no
				LEFT OUTER JOIN tb_ex_like l ON x.ex_no = l.ex_post_no
			ORDER BY x.ex_no DESC
			) E
		) tb_extagram
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectExtaCntAll" resultType="int">
		SELECT count(*) FROM tb_extagram
	</select>

	
	<select id="selectExtaView" resultType="hashmap" parameterType="web.dto.Extagram">
		SELECT
			u.nick, x.ex_no, x.ex_date, x.ex_content, c.ex_comm, c.ex_comm_date, 
			f.stored_name AS picture_s, f.origin_name As picture_o,
			(SELECT count(*) FROM tb_ex_comm WHERE c.ex_post_no = x.ex_no) As comm, 
			(SELECT count(*) FROM tb_ex_like WHERE l.ex_post_no = x.ex_no) As heart
		FROM tb_extagram X
			LEFT OUTER JOIN tb_user u ON x.user_no = u.user_no
			LEFT OUTER JOIN tb_ex_comm c ON x.ex_no = c.ex_post_no
			LEFT OUTER JOIN tb_file f ON x.file_no = f.file_no
    		LEFT OUTER JOIN tb_ex_like l ON x.ex_no = l.ex_post_no
		WHERE ex_no = #{exNo }
	</select>
	
	<insert id="insertExtaWrite">
	</insert>
	
	<update id="updateExtaByExPostNo">
	</update>
	
	<delete id="deleteExtaByExPostNo">
	</delete>
	
	<insert id="insertExtaReportByExPostNo">
	</insert>
	
	<insert id="insertExtaHeart">
	</insert>
	
	<delete id="deleteExtaHeart">
	</delete>
	
	<insert id="insertExtaComm">
	</insert>
	
	<delete id="deleteExtaComm">
	</delete>

</mapper>