<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.ExtaDao">

	<select id="selectExtaAll" resultType="hashmap" parameterType="web.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, E.* FROM (
				SELECT
				        u.nick, u.file_no As profile,
				        x.ex_content, x.ex_date, x.file_no As picture,
				        f.origin_name, f.stored_name, f.file_size
				FROM
				        tb_user u,
				        tb_extagram x,
				        tb_file f
				WHERE
				        u.user_no = x.user_no
					AND x.file_no = f.file_no
					AND x.ex_no = #{exNo}
			) E
		) tb_extagram
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectExtaCntAll" resultType="int">
		SELECT count(*) FROM tb_extagram
	</select>
	
	<insert id="insertExtaWrite">
	</insert>
	
	<update id="updateExtaByExPostNo">
	</update>
	
	<delete id="deleteExtaByExPostNo">
	</delete>
	
	<select id="selectExtaViewByExPostNo">
	</select>
	
	<update id="updateHit]">
	</update>
	
	<insert id="insertExtaReportByExPostNo">
	</insert>
	
	<insert id="insertExtaHeart">
	</insert>
	
	<delete id="deleteExtaHeart">
	</delete>
	
	<insert id="insertExtaComm">
	</insert>
	
	<delete id="deleteExtaComm">
	</delete>

</mapper>