<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.face.LayerDao">

	<select id="selectLayerListByTarget" resultType="HashMap" parameterType="HashMap">
    SELECT * FROM ( 
        SELECT rownum rnum, A.*FROM(
            SELECT
                l.LAYERING_NO, l.USER_NO, l.PERFUME_NO1
                , l.PERFUME_NO2, l.PERFUME1_PER, l.LAYERING_CONTENT, l.LAYERING_DATE
                , P1.PERFUME_NAME Pname1, P2.perfume_name Pname2
                , F1.file_no file1, F1.origin_name fileO1, F1.stored_name fileS1
                , F2.file_no file2, F2.origin_name fileO2, F2.stored_name fileS2
                , u.nick
                ,  F3.stored_name PROFILE
                , (SELECT count(*) FROM tb_layer_like where layering_no = l.layering_no) SCnt
                ,(SELECT count(*) FROM tb_layer_like WHERE layering_no = l.layering_no AND user_no = #{userNo }) SLike
            FROM tb_layer l 
            LEFT OUTER JOIN tb_user u ON  l.user_no = u.user_no  
            LEFT OUTER JOIN tb_perf P1 ON l.PERFUME_NO1 = P1.PERFUME_NO 
            LEFT OUTER JOIN tb_perf P2 ON l.PERFUME_NO2 = P2.PERFUME_NO 
            LEFT OUTER JOIN tb_file F1  ON P1.file_no = F1.file_no
            LEFT OUTER JOIN tb_file F2  ON P2.file_no = F2.file_no
            LEFT OUTER JOIN tb_file F3 ON u.file_no = F3.file_no
            <choose>
            <when test="paging.target == 1">
            	ORDER BY LAYERING_NO DESC
            </when>
            <when test="paging.target == 2">
            	ORDER BY SCnt DESC
            </when>
            <otherwise>
            	ORDER BY LAYERING_NO DESC
            </otherwise>
            </choose>
        )A
    )layer_list
     WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<!-- 좋아요 여부 조회 -->
	<select id="selectLayerLikeCntByuserNo" resultType="int" parameterType="web.dto.LayerLike">
		SELECT count(*) FROM tb_layer_like WHERE layering_no = #{layeringNo } AND user_no = #{userNo }
	</select>
	
	<!-- 게시글 좋아요 등록 -->
	<insert id="insertLayerLike" parameterType="web.dto.LayerLike">
		INSERT INTO tb_layer_like (layering_like_no,user_no, layering_no)
		VALUES (tb_layer_like_seq.nextval,#{userNo }, #{layeringNo })
	</insert>
	
	<!-- 게시글 좋아요 취소 -->
	<delete id="deleteLayerLike" parameterType="web.dto.LayerLike">
		DELETE FROM tb_layer_like
		WHERE user_no = #{userNo } AND layering_no = #{layeringNo }
	</delete>
	
	<!-- 결과 조회 -->
	<select id="selectLayerLikeInfo" resultType="HashMap" parameterType="web.dto.LayerLike">
		SELECT  count(CASE WHEN layering_no = #{layeringNo } THEN 1 END) AS SCNT
        		, count(CASE WHEN layering_no = #{layeringNo } AND user_no = #{userNo } THEN 1 END)  SLIKE
		FROM tb_layer_like
	</select>
	<select id="selectLayerCntAll" resultType="int">
		SELECT count(*) FROM tb_layer
	</select>
	
	<select id="selectCntPerfAll" resultType="int" parameterType="web.util.PagingLayerWrite">
	SELECT count(*) FROM tb_perf
	<if test='search != null and !search.equals("")'>
			WHERE PERFUME_NAME LIKE '%' || #{search } || '%'
	</if>
	</select>
	
	<select id="selectPerfAll" resultType="hashmap" parameterType="web.util.PagingLayerWrite">
    SELECT * FROM (
		SELECT rownum rnum, L.* FROM (
			SELECT
			    P.PERFUME_NO, P.BRAND_NO, P.FILE_NO
			    , P.PERFUME_NAME, P.PERFUME_VITALITY, P.PERFUME_GENDER
			    , F.ORIGIN_NAME, F.STORED_NAME, F.FILE_SIZE
			    , B.BRAND_NAME
			FROM	tb_perf P
			LEFT OUTER JOIN tb_file F ON P.FILE_NO = F.FILE_NO
			LEFT OUTER JOIN tb_brand B ON P.BRAND_NO = B.BRAND_NO
			
			<if test='search != null and !search.equals("")'>
			WHERE PERFUME_NAME LIKE '%' || #{search } || '%'
			</if>
			
			ORDER BY P.PERFUME_NO ASC
		) L
	) PerfList
	WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
</mapper> 