<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.face.LayerDao">
	<select id="selectLayerListByTarget" resultType="HashMap" parameterType="web.util.PagingLayer">
    SELECT * FROM ( 
        SELECT rownum rnum, A.*FROM(
            SELECT
                l.LAYERING_NO, l.USER_NO, l.PERFUME_NO1
                , l.PERFUME_NO2, l.PERFUME1_PER, l.LAYERING_CONTENT, l.LAYERING_DATE
                , P1.PERFUME_NAME Pname1, P2.perfume_name Pname2
                , F1.file_no file1, F1.origin_name fileO1, F1.stored_name fileS1
                , F2.file_no file2, F2.origin_name fileO2, F2.stored_name fileS2
                , u.nick, (SELECT count(*) FROM tb_layer_like where layering_no = l.layering_no) SCnt
            FROM tb_layer l 
            LEFT OUTER JOIN tb_user u ON  l.user_no = u.user_no  
            LEFT OUTER JOIN tb_perf P1 ON l.PERFUME_NO1 = P1.PERFUME_NO 
            LEFT OUTER JOIN tb_perf P2 ON l.PERFUME_NO2 = P2.PERFUME_NO 
            LEFT OUTER JOIN tb_file F1  ON P1.file_no = F1.file_no
            LEFT OUTER JOIN tb_file F2  ON P2.file_no = F2.file_no
            <choose>
            <when test="target == 1">
            	ORDER BY LAYERING_NO DESC
            </when>
            <when test="target == 2">
            	ORDER BY SCnt DESC
            </when>
            <otherwise>
            	ORDER BY LAYERING_NO DESC
            </otherwise>
            </choose>
        )A
    )layer_list
     WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	<select id="selectLayerCntAll" resultType="int">
		SELECT count(*) FROM tb_layer
	</select>
</mapper> 