<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.NoticeDao">

	<select id="selectCntAll" resultType="int">
		SELECT COUNT(*) FROM tb_notice
	</select>

	<select id="selectNoticeAll" parameterType="web.util.PagingNotice" resultType="hashmap">
		SELECT * FROM (
			SELECT rownum rnum, A.* FROM (
				SELECT n.notice_no, n.user_no, n.file_no, n.notice_title, n.notice_content, n.notice_date, u.nick, f.origin_name, f.stored_name FROM tb_notice n
				LEFT OUTER JOIN tb_user u ON n.user_no = u.user_no
				LEFT OUTER JOIN tb_file f ON n.file_no = f.file_no
				ORDER BY n.notice_no DESC
			) A
		) tb_notice
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>

	<select id="selectNoticeByNoticeNo" parameterType="web.dto.Notice" resultType="web.dto.Notice">
		SELECT * FROM tb_notice WHERE notice_no = #{noticeNo }
	</select>

</mapper>