<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.NoticeDao">

	<select id="selectCntAll" parameterType="web.util.PagingNotice" resultType="int">
		SELECT COUNT(*) FROM tb_notice
		WHERE 1 = 1
		<if test="searchType == 'titleType'">
			AND notice_title LIKE '%' || #{search } || '%'
		</if>
		<if test="searchType == 'contentType'">
			AND notice_content LIKE '%' || #{search } || '%'
		</if>
	</select>

	<select id="selectNoticeAll" parameterType="web.util.PagingNotice" resultType="hashmap">
		SELECT * FROM (
			SELECT rownum rnum, A.* FROM (
				SELECT n.notice_no, n.user_no, n.file_no, n.notice_title, n.notice_content, n.notice_date, u.nick, f.origin_name, f.stored_name FROM tb_notice n
				LEFT OUTER JOIN tb_user u ON n.user_no = u.user_no
				LEFT OUTER JOIN tb_file f ON n.file_no = f.file_no
				<if test="search != null and search != ''">
				WHERE 1 = 1
					<if test="searchType == 'titleType'">
						AND notice_title LIKE '%' || #{search } || '%'
					</if>
					<if test="searchType == 'contentType'">
						AND notice_content LIKE '%' || #{search } || '%'
					</if>
				</if>
				ORDER BY n.notice_no DESC
			) A
		) tb_notice
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>

	<select id="selectNoticeByNoticeNo" parameterType="web.dto.Notice" resultType="hashmap">
		SELECT n.notice_no, n.user_no, n.file_no, n.notice_title, n.notice_content, n.notice_date, u.nick, f.origin_name, f.stored_name FROM tb_notice n
		LEFT OUTER JOIN tb_user u ON n.user_no = u.user_no
		LEFT OUTER JOIN tb_file f ON n.file_no = f.file_no
		WHERE notice_no = #{noticeNo }
		ORDER BY n.notice_no DESC
	</select>

	<insert id="insertFile" parameterType="web.dto.FileUpload">
		<selectKey order="BEFORE" resultType="int" keyProperty="fileNo">
			SELECT tb_file_seq.nextval FROM dual
		</selectKey>
		INSERT INTO tb_file ( file_no, origin_name, stored_name, file_size )
		VALUES ( #{fileNo }, #{originName }, #{storedName }, #{fileSize } )
	</insert>

	<insert id="insertNotice" parameterType="web.dto.Notice">
		INSERT INTO tb_notice ( notice_no, user_no, file_no, notice_title, notice_content )
		VALUES ( tb_notice_seq.nextval, #{userNo }, #{fileNo }, #{noticeTitle }, #{noticeContent } )
	</insert>

	<update id="updateFile" parameterType="web.dto.FileUpload">
		UPDATE tb_file SET
			origin_name = #{originName },
			stored_name = #{storedName },
			file_size = #{fileSize }
		WHERE file_no = #{fileNo }
	</update>
	
	<update id="updateNoticeByNoticeNo" parameterType="web.dto.Notice">
		UPDATE tb_notice SET
			notice_title = #{noticeTitle },
			notice_content = #{noticeContent }
		WHERE notice_no = #{noticeNo }
	</update>
	
	<delete id="DeleteNoticeByNoticeNo" parameterType="web.dto.Notice">
		DELETE FROM tb_notice WHERE notice_no = #{noticeNo }
	</delete>
	
	<delete id="DeleteFileByNoticeNo" parameterType="web.dto.Notice">
		DELETE FROM tb_file WHERE file_no = #{fileNo }
	</delete>
</mapper>