<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.PerfDao">

	<resultMap type="web.dto.Perf" id="Perf">
		<id column="board_no" property="boardNo"/>
		<result column="writer_id" property="writerId"/>
		<result column="writer_nick" property="writerNick"/>
		<result column="write_date" property="writeDate"/>
	</resultMap>


<select id="selectCntPerfAll" resultType="int">
	SELECT count(*) FROM tb_perf
</select>

<select id="selectPerfAll" resultType="web.dto.Perf" parameterType="web.util.Paging">
	SELECT * FROM (
		SELECT rownum rnum, F.* FROM (
			SELECT
				PERFUME_NO, BRAND_NO, FILE_NO
				, PERFUME_NAME, PERFUME_VITALITY, PERFUME_GENDER
			FROM TB_PERF
			ORDER BY PERFUME_NO ASC
		) F
	) BOARD
	WHERE rnum BETWEEN #{startNo } AND #{endNo }
</select>

<select id="selectPerfByFilter">
</select>

<select id="selectListByKeyword">
</select>

<select id="selectPerfByPerfNo">
</select>

<update id="updatePerfLike">
</update>

<update id="updatePerfDislike">
</update>

<update id="updatePerf">
</update>

<delete id="deletePerf">
</delete>

<insert id="insertPerf">
</insert>

</mapper>