<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.UserDao">
	
	<resultMap type="web.dto.User" id="User">
		<id column="user_no" property="userNo"/>
		<result column="file_no" property="fileNo"/>
		<result column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="nick" property="nick"/>
		<result column="phone" property="phone"/>
		<result column="birth" property="birth"/>
		<result column="gender" property="gender"/>
		<result column="craete_date" property="createDate"/>
		<result column="question_anwser" property="questionAnwser"/>
		<result column="question_no" property="quesionNo"/>
	</resultMap>
	
	<select id="selectUserCnt" parameterType="web.dto.User" resultType="int">
		SELECT count(*) FROM tb_user
		<choose>
			<when test="id != null">
				WHERE id = #{id}
			</when>
			
			<when test="email != null">
				WHERE email = #{email}
			</when>
			
			<when test="nick != null">
				WHERE nick = #{nick}
			</when>
		</choose> 
		
	</select>
	
	<select id="selectUserById" parameterType="web.dto.User" resultMap="User">
		SELECT 
			user_no, file_no, id, pw, nick, phone, birth, gender, create_date
		FROM tb_user
		WHERE id = #{id}
	</select>

	<insert id="insertUserJoin" parameterType="web.dto.User">
		INSERT INTO tb_user (user_no, file_no, id, pw, nick, phone, birth, gender, question_no, question_anwser)
		VALUES (tb_user_seq.nextval, 91, #{id}, #{pw}, #{nick}, #{phone}, #{birth}, #{gender}, #{questionNo}, #{questionAnwser})
	</insert>
	
</mapper>