<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.UserDao">
	
	<resultMap type="web.dto.User" id="User">
		<id column="user_no" property="userNo"/>
		<result column="file_no" property="fileNo"/>
		<result column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="nick" property="nick"/>
		<result column="phone" property="phone"/>
		<result column="birth" property="birth"/>
		<result column="gender" property="gender"/>
		<result column="is_admin" property="isAdmin"/>
		<result column="is_social" property="isSocial"/>
		<result column="create_date" property="createDate"/>
		<result column="question_anwser" property="questionAnwser"/>
		<result column="question_no" property="quesionNo"/>
	</resultMap>
	
	<resultMap type="web.dto.FileUpload" id="File">
		<id column="file_no" property="fileNo"/>
		<result column="origin_name" property="originName"/>
		<result column="stored_name" property="storedName"/>
		<result column="file_size" property="fileSize"/>
	</resultMap>
	
	<select id="selectUserCnt" parameterType="web.dto.User" resultType="int">
		SELECT count(*) FROM tb_user
		<choose>
			<when test="id != null">
				WHERE id = #{id}
			</when>
			
			<when test="email != null">
				WHERE email = #{email}
			</when>
			
			<when test="nick != null">
				WHERE nick = #{nick}
			</when>
		</choose> 
		
	</select>
	
	<select id="selectUserById" parameterType="web.dto.User" resultMap="User">
		SELECT 
			user_no, file_no, id, pw, nick, email, phone, birth, gender, create_date
		FROM tb_user
		WHERE id = #{id}
	</select>

	<insert id="insertUserJoin" parameterType="web.dto.User">
		INSERT INTO tb_user (user_no, file_no, id, pw, nick, email, phone, birth, gender, question_no, question_anwser)
		VALUES (tb_user_seq.nextval, 91, #{id}, #{pw}, #{nick}, #{email}, #{phone}, #{birth}, #{gender}, #{questionNo}, #{questionAnwser})
	</insert>
	
	<select id="selectFileByFileNo" parameterType="int" resultMap="File">
		SELECT 
			file_no, origin_name, stored_name, file_size
		FROM tb_file
		WHERE file_no = #{fileNo}
	</select>
	
	<select id="selectUserByUserno" parameterType="int" resultMap="User">
		SELECT 
			user_no, file_no, id, pw, nick, email, phone, birth, gender, create_date,
			is_admin, is_social
		FROM tb_user
		WHERE user_no = #{userNo}
	</select>
	
	<update id="updatePw" parameterType="web.dto.User">
		UPDATE tb_user SET pw = #{pw}
		WHERE user_no = #{userNo}
	</update>
</mapper>